<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>运维资产平台</title>

  <!--common-->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">

    {% block head_css_js %} {% endblock %}
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
        {% include "nav.html" %}

    <!-- main content start-->
    <div class="main-content" >

        {% include "nav_header.html" %}

        {% block content %} {% endblock %}

        <!--footer section start-->
        <footer>
            2016 &copy; Devops
        </footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/static/js/scripts.js"></script>

{% block foot_js %} {% endblock %}

<script>
    var url_array = document.location.pathname.split("/");
    s1 = url_array[1];
    s2 = url_array[2];
//    s3 = url_array[2];
    if (s1 == ''){
         $('#index').addClass('active')
    } else {
        if (s2 == ''){
            $('#'+s1).addClass('active')
        } else {
            $("#" + s1).addClass('active nav-active');
            $('#' + s1 + ' .' + s2).addClass('active');
             console.log(s1)
       }
   }
</script>
</body>
</html>
