{% extends "layout.html" %}
<!DOCTYPE html>
<html>

{% block head %}
    {{super()}}
      <!--responsive table-->
  <link href="/static/css/table-responsive.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">

  <!--icheck-->
  <link href="/static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/blue.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/js/fuelux/css/tree-style.css" />

  <!--dashboard calendar-->
  <link href="/static/css/clndr.css" rel="stylesheet">
{% endblock %}

<body class="sticky-header">
<section>
{% block bodylife %}
    {{super()}}
{% endblock %}

<div class="main-content" >
{% block bodyheader %}
    {{super()}}
{% endblock %}

{% block pagehead %}
    {{super()}}
    <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active">  Dashboard</li>
            </ul>

    </div>
{% endblock %}


{% block page %}
        <!--body wrapper start-->
    <div class="wrapper">
        <!-- tables -->
        <div class="col-xs-2">
        <section class="panel">
            <header class="panel-heading" style="padding-left: 0px;">
                产品信息
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>

                <div class="panel-body"  style="padding-left: 0px">
                    <ul id="product_tree" class="ztree"></ul>
                </div>

        </section>
        </div>

        <div class="col-lg-10">
        <section class="panel">
            <header class="panel-heading">
                物理服务器管理
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>

        <!--body wrapper start-->
        <div class="panel-body" style="padding-left: 30px;  padding-right: 2px;">



           <div class="row states-info">
            <div class="col-md-2">
                <div class="panel red-bg">
                        <div class="row">
                            <div class="col-xs-12">
                            <span>物理机</span>
                            <h3  id="physic"></h3>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel blue-bg">
                        <div class="row">
                            <div class="col-xs-8">
                            <span>宿主机</span>
                            <h3 id="father"></h3>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel green-bg">
                        <div class="row">
                            <div class="col-xs-8">
                            <span>虚机</span>
                            <h3 id="vm"></h3>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel yellow-bg">
                        <div class="row">
                            <div class="col-xs-8">
                            <span>可用虚机</span>
                            <h3 id="vms"></h3>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel red-bg">
                        <div class="row">
                            <div class="col-xs-12">
                            <span>剩余资源</span>
                            <h3 id="remain"></h3>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>

        <!--body wrapper end-->

        </section>
        </div>

        <div class="col-md-10">
                    <!--notification start-->
                    <section class="panel">
                        <header class="panel-heading">
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>

                                <a class="fa fa-times" href="javascript:;"></a>
                            </span>
                            <br>
                        </header>
                        <div class="panel-body">
                           <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


                        </div>
                    </section>
                    <!--notification end-->
        </div>


    </div>
        <!--body wrapper end-->
{% endblock %}

{% block footer %}
    {{super() }}
{% endblock %}


</div>
{% block js %}
    {{super()}}



    <script src="/static/hcharts/highcharts.js"></script>
    <!--script src="/static/hcharts/exporting.js"></script-->
    <script src="/static/hcharts/data.js"></script>
    <script src="/static/hcharts/drilldown.js"></script>
    <!--script src="/static/hcharts/highcharts-zh_CN.js"></script-->

    <link rel="stylesheet" href="/static/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/static/zTree/js/jquery.ztree.core.js"></script>


    <link rel="stylesheet" href="/static/bootstrap/src/bootstrap-table.css">

    <script src="/static/bootstrap/src/bootstrap-table.js"></script>
    <script src="/static/bootstrap/src/locale/bootstrap-table-zh-CN.js"></script>

    <script>
    $(function () {
        if (checkcookie()){
            //树型展示产品线对应的应用信息,应用对应的IP
             var auth = $.cookie('pgv');

             producturl =  backendurl+'/api/v1/product/charts'

             $.ajax({
                 headers: {
                     "Authorization": auth,
                 },
                 type: "GET",
                 url: producturl,
                 async: false,
                 //crossOrigin: true,
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                     alert(textStatus);
                     alert(errorThrown);

                 },
                 success: function (data) {
                     if (data['status'] == 200) {
                         // Create the chart
                         Highcharts.chart('container', {
                             chart: {
                                 type: 'column'
                             },
                             title: {
                                 text: '产品应用占用资源情况'
                             },
                             subtitle: {
                                 text: '点击可查看具体的版本数据，数据来源: starsea.'
                             },
                             xAxis: {
                                 type: 'category'
                             },
                             yAxis: {
                                 title: {
                                     text: '占用资源情况一览'
                                 }
                             },
                             legend: {
                                 enabled: false
                             },
                             plotOptions: {
                                 series: {
                                     borderWidth: 0,
                                     dataLabels: {
                                         enabled: true,
                                         format: '{point.y:f}'
                                     }
                                 }
                             },
                             tooltip: {
                                 headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                 pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
                             },
                             series: [{
                                 name: '产品占用资源一览',
                                 colorByPoint: true,
                                 data: data['result']['productdata']

                             }],
                             drilldown: {
                                 series: data['result']['drilldown']

                             }
                         });
                     }
                 }
             })
        } else {
            alert('please login!')
            window.location.href=fronturl+'/login'
        }
    })

    </script>

    <script>
    //product_tree
        var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {};
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）

        if (checkcookie()){
            //树型展示产品线对应的应用信息,应用对应的IP
             var auth = $.cookie('pgv');

             producturl =  backendurl+'/api/v1/product/all'

             $.ajax({
                 headers: {
                     "Authorization" :auth,
                  },
                 type: "GET",
                 url:producturl,
                 async: false,
                 //crossOrigin: true,
                 error: function(XMLHttpRequest, textStatus, errorThrown) {
                     alert(textStatus);
                     alert(errorThrown);

                 },
                 success: function(data) {
                     if (data['status'] == 200 ){
                         $(document).ready(function(){
                             zTreeObj = $.fn.zTree.init($("#product_tree"), setting, data['result']);
                         })

                     }
                 }

             })

        } else {
               alert('please login!')
               window.location.href=fronturl+'/login'
        }


        $("#physic").append('30');
        $("#father").append('15');
        $("#vm").append('120');
        $("#vms").append('50');
        $("#remain").append('3');


    </script>


{% endblock %}


</section>
</body>
</html>
