{% extends "layout.html" %}
<!DOCTYPE html>
<html>

{% block head %}
    {{super()}}
      <!--responsive table-->
  <link href="/static/css/table-responsive.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">

  <!--icheck-->
  <link href="/static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/blue.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/js/fuelux/css/tree-style.css" />

  <!--dashboard calendar-->
  <link href="/static/css/clndr.css" rel="stylesheet">
{% endblock %}

<body class="sticky-header">
<section>
{% block bodylife %}
    {{super()}}
{% endblock %}

<div class="main-content" >
{% block bodyheader %}
    {{super()}}
{% endblock %}

{% block pagehead %}
    {{super()}}
    <div class="page-heading">
            <h3>
                Dashboard
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active">  Dashboard</li>
            </ul>

    </div>
{% endblock %}


{% block page %}
        <!--body wrapper start-->
    <div class="wrapper">
        <!-- tables -->
        <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                物理服务器管理
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">


           <div class="row states-info">
            <div class="col-md-2">
                <div class="panel red-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                            <span>物理机 /空闲物理机</span>
                            <h3 class="green-txt">aa  /  aa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel blue-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                            <span>宿主机</span>
                            <h3 class="green-txt">aa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel green-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                            <span>产品线</span>
                            <h3 class="green-txt">aa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel yellow-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                            <span>虚机</span>
                            <h3 class="green-txt">aa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel blue-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                            <span>沙河可创虚机</span>
                            <h3 class="green-txt">aa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel red-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                            <span>三元桥可创虚机</span>
                            <h3 class="green-txt">aa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>






                <div class="col-md-12">
                    <!--notification start-->
                    <section class="panel">
                        <header class="panel-heading">
                        <form id='app_form'>
                            <div class="col-sm-2" style="padding-left: 0px">
                                <select class="form-control m-bot15" onchange="change()" name="change_type" id="app_type">

                                </select>
                            </div>
                        </form>
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>

                                <a class="fa fa-times" href="javascript:;"></a>
                            </span>
                            <br>
                        </header>
                        <div class="panel-body">
                           <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


                        </div>
                    </section>
                    <!--notification end-->
                </div>



        </div>
        </div>
        <!--body wrapper end-->

        </section>
        </div>
    </div>
        <!--body wrapper end-->
{% endblock %}

{% block footer %}
    {{super() }}
{% endblock %}


</div>
{% block js %}
    {{super()}}


    <link rel="stylesheet" href="/static/bootstrap/src/bootstrap-table.css">

    <script src="/static/bootstrap/src/bootstrap-table.js"></script>
    <-- put your locale files after bootstrap-table.js -->
    <script src="/static/bootstrap/src/locale/bootstrap-table-zh-CN.js"></script>

    <script>

        if (checkcookie()){
             var auth = $.cookie('pgv');
             //var url = location.href;
             $.ajax({
                 headers: {
                     "Authorization" :auth,
                  },
                 //beforeSend: function (xhr) {
                 //xhr.setRequestHeader ("Authorization", "Basic " + 'xxx');
                 //},
                 type: "POST",
                 url:backendurl+'/api/v1/idc',
                 async: false,
                 //crossOrigin: true,
                 error: function(XMLHttpRequest, textStatus, errorThrown) {
                     //alert(XMLHttpRequest.status);
                     //alert(XMLHttpRequest.readyState);
                     alert(textStatus);
                     alert(errorThrown);
                     //alert('please check  user role!!')

                 },
                 success: function(data) {
                     if (data['status'] == 200 ){

                         $('#table').bootstrapTable({
                             search: true,
                             columns: [{
                                 field: 'idc',
                                 title: 'IDC'
                             }, {
                                 field: 'address',
                                 title: '地址'
                             }, {
                                 field: 'manager',
                                 title: '联系人'}, {
                                 field: 'contacts',
                                 title: '联系方式'
                             }],
                             data:data['result'],
                         });
                     }
                 }

             })
        } else {
               alert('please login!')
               window.location.href=fronturl+'/login'
        }

    </script>


{% endblock %}


</section>
</body>
</html>
